<% s = getResponsibleSubjects %>
<div>
    <div>
        あなたの担当の科目
    </div>
    
    <div id="group">
        <% s.each do |sub| %>
            <div id="subject_plate"  style="background-image: url(/image/subject?id=<%= sub %>)">
                <div class="teacher_name">
                    <div class="text">
                        <div class="decoration">
                            <% subc = Subject.find_by(id: sub) %>
                            <%= User.find_by(id: subc.subject_profile.teacher_id).profile.name %>
                        </div>
                    </div>
                </div>
                
                <div class="link">
                    <%= link_to '', subject_path(sub) %>
                </div>            
                <div class="name">
                    <div class="decoration">
                        <%= Subject.find(sub).subject_profile.name %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>