<div>
    <%= link_to '戻る', subjects_path %>
</div>
<% @s.each do |subject| %>
    <div>
        <%= subject.name %>
        <div>
            <%= link_to '登録する', courses_path(id: subject.id), method: :create %>
        </div>
    </div>
<% end %>