// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
    display: block;
    //height: 250px;
    padding: 1em;
    padding-top: 0.5em;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 8px 8px 5px 0 #ddd;
    
    .title {
        text-align: center;
        //font-size: ;
        color: #a3a3a3;
        font-family: fantasy;
        //font-weight: bold;
        //padding-bottom: 0.5em;
        //border-bottom: 1px solid #aaa;
        padding-bottom: 0.5em;
    }
    
    .error {
        text-align: left;
        padding-bottom: 1em;
    }
    
    .title_text {
        //padding-left: 6em;
        text-align: left;
        color: #a3a3a3;
        font-size: x-large;
        float:left;
    }
    
    .text_field {
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
        border: 0px none;
        border-bottom: 1px solid #ccc;
        font-size: large;
        float: right;
        
        &:focus, &:active, &:hover{
            outline: none;
            //border: 0px none;
            border-bottom: 1px solid red;
        }
    }
    
    .reset {
        clear: both;
    }
    
    .submit {
        text-align: right;
        
        .button {
            text-align: center;
            font-size: large;
            color: #a3a3a3;
            text-align: right;
            border: 1px solid #bbb;
            border-radius: 5px;
            background-color: #fff;
            
            &:hover {
                color: red;
                border-color: red;
            }
        }
    }
    
    .other {
        padding-top: 1em;
        text-align: left;
    }
}

#login_main {
    display: flex;
    //vertical-align: middle;
    //width: 500px;
    height: 100vh;
    //height: 100%;
    justify-content: center;
    align-items: center;
}