// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
    background-color:#EDF7FF;
    //padding:20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 1em;
    
    h1 {
        margin: 0;
        margin-bottom: 15px;
    }
}

#main_toolbar {
    padding-left: 1.5em;
    padding-right: 1.5em;
    //padding-bottom: 5px;

    position: relative;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    //max-width: 10em;
    background-color:#EDF7FF;
    
    flex: 1;
    .text {
        background-color:#11a37f;
        border-top: 2px solid #48ecc4;
        border-right: 2px solid #0a5f4a;
        border-bottom: 2px solid #0f745b;
        border-left: 2px solid #8cf9de;
        border-radius: 0;
        color: #fff;
        text-align: center;
        flex:6;
        position:relative;
        white-space:nowrap;
        &:hover {
            color: #fff;
            border-top: 2px solid #0f745b;
            border-right: 2px solid #8cf9de;
            border-bottom: 2px solid #48ecc4;
            border-left: 2px solid #0a5f4a;
        }  
        
        
        
        .url{
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

